/* JavaFX CSS - Le/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

application{
	-fx-background-color: grey;
	}

.main-text {
	-fx-alignment: center;
	-fx-font-family: Helvetica;
	-fx-font-size: 22;
}

.second-text {
	-fx-alignment: center;
	-fx-font-family: Helvetica;
	-fx-font-size: 14;
	-fx-text-fill: grey;
}

#controller{
	-fx-alignment: center;
	-fx-padding: 10;
}

.control-button {
	-fx-min-height: 32;
	-fx-min-width: 32;
	-fx-background-color: #00008B;
	-fx-background-radius: 16;
	-fx-text-fill: white;
}

.control-button:hover {
	-fx-background-color: red;
}

.playlist-button{
	-fx-min-height: 32;
	-fx-min-height: 32;
	-fx-min-width: 32;
	-fx-background-color: red;
	-fx-background-radius: 16;
	-fx-text-fill: white;
}

.playlist-button:hover{
	-fx-background-color: #00008B;
}

#table{
	-fx-background-color: grey;
	-fx-padding: 50.0 ;
}

.time-slider{
	-fx-control-inner-background: orange;
}